body{
    display: flex;
}

#search-container{
    display: flex;
    flex-direction: column;
}

#search-history{
    display: flex;
    flex-direction: column;
}

#current-weather-container{
    display: flex;
    flex-direction: column;
}

#five-day{
    display: flex;
    margin-right: 8%;
}

.card{
    border: 1px solid black;
    padding: 10%;
}